{% extends 'admin_templates/base_template.html' %}
<!--Block for Title-->
{% block title %}
Dashboard
{% endblock title %}
<!--End Block for Title-->

<!--Block for Custom CSS-->

{% block custom_css %}
  {% endblock custom_css %}
<!--End Block for Custom CSS-->

<!--Block for Page Title-->
{% block page_title %}
Dashboard
{% endblock page_title %}
<!--End Block for Page Title-->

<!-- Block for Page Title-->
{% block page_content %}
<p>Simple Dashboard Empty Page</p>
{% endblock page_content %}
<!--End Block for Page Title-->
